$primary: {{ INDIGO_PRIMARY_COLOR }};
$secondary: #F5F5F2;

$blue: $primary !default;
$m-blue-d1: mix(white, $primary, 5%) !default;
$m-blue-d2: mix(white, $primary, 15%) !default;
$m-blue-d3: $primary !default;
$m-blue-d4: mix(rgb(74, 137, 245), $primary, 20%) !default;
$m-blue-d5: mix(rgb(56, 148, 252), $primary, 30%) !default;
$m-blue-d6: mix(rgb(42, 134, 226), $primary, 40%) !default;

$uxpl-blue-hover-active: lighten($primary, 7%) !default;

$body-bg-d: #0b0b0b;
$text-color-d: #f5f5f2;
$primary-d: #f5f5f2;
$light-overlay-d: #202222;
$drop-down-menu-bg-d: #202222;

$primary-base: $primary;

$serif: 'Segoe UI';
$f-sans-serif: 'Segoe UI', Arial, sans-serif;
$font-family-title: 'Segoe UI', Arial, sans-serif;
$font-family-sans-serif: 'Segoe UI', Arial, sans-serif;

// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
