<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse
%>
<%page args="course" expression_filter="h"/>

<%
if course.start is not None:
  course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
else:
  course_date_string = ''
%>

<div class="col-sm-4 mb-4">
    <div class="newCard">
        <div class="newCard__detailWrap">
            <div class="newCard__detail">
                <img src="${course.course_image_url}" onerror="this.src='/theming/asset/images/no_course_image.png';" alt="${course.display_name_with_default} ${course.display_number_with_default}" class="newCard__courseImg"/>
                <div class="newCard__courseName">${course.display_number_with_default}</div>
            </div>
            <div class="newCard__detail">
                <img src="${static.url('images/building-office.svg')}" class="shortIcon" alt="${_('officeBuilding')}"/>
                <div class="newCard__courseBody">${course.display_org_with_default} - ${course.display_name_with_default}</div>
            </div>
            <div class="newCard__detail">
                <img src="${static.url('images/book-cloud.svg')}" class="shortIcon" alt="${_('book')}"/>
                % if course.advertised_start is not None:
                <div class="newCard__courseDate">${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></div>
                % else:
                <div class="newCard__courseDate">${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time></div>
                % endif
            </div>
        </div>
        <div class="newCard__actionBtn">
            <a href="${reverse('about_course', args=[str(course.id)])}" class="newCard__link">${_("More ")}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
