<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse
%>
<%page args="course, source_page=''" expression_filter="h"/>

<%
if course.start is not None:
  course_date_string = course.start.strftime('%Y-%m-%d')
else:
  course_date_string = ''
%>

% if source_page != 'main_page':

<article class="course" role="region" aria-label="${course.display_name_with_default}">
        <header class="course-image">
            <div class="cover-image">
                <!-- NEW IN INDIGO: Add fallback image in case of no course-image using onerror -->
                <img src="${course.course_image_url}" onerror="this.src='/theming/asset/images/no_course_image.png';" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
            </div>
        </header>
        <section class="course-info" aria-hidden="true">
            <h2 class="course-name">
                <span class="course-code">${course.display_number_with_default}</span>
                <span class="course-title">${course.display_name_with_default}</span>
                <span class="course-organization">${course.display_org_with_default}</span>
            </h2>
            <a href="${reverse('about_course', args=[str(course.id)])}" class="learn-more">${_("LEARN MORE")}</a>
            <div class="course-date" aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.83332H15.8333C16.75 3.83332 17.5 4.58332 17.5 5.49999V17.1667C17.5 18.0833 16.75 18.8333 15.8333 18.8333H4.16667C3.24167 18.8333 2.5 18.0833 2.5 17.1667L2.50833 5.49999C2.50833 4.58332 3.24167 3.83332 4.16667 3.83332H5V2.16666H6.66667V3.83332H13.3333V2.16666H15V3.83332ZM4.16667 8.83332V17.1667H15.8333V8.83332H4.16667ZM15.8333 7.16666H4.16667V5.49999H15.8333V7.16666ZM14.1667 11.3333H10V15.5H14.1667V11.3333Z" fill="#9CA3AF"/>
          </svg>
% if course.advertised_start is not None:
    ${_("Starts")}: ${course.advertised_start}
% else:
    ${_("Starts")}: ${course_date_string}
% endif
            </div>
        </section>
        <div class="sr">
            <ul>
                <li><${course.display_org_with_default}</li>
                <li>${course.display_number_with_default}</li>
            % if course.advertised_start is not None:
                <li>${_("Starts")}<time itemprop="startDate" datetime="${course.advertised_start}">${course.advertised_start}</time></li>
            % else:
                <li>${_("Starts")}<time itemprop="startDate" datetime="${course_date_string}">${course_date_string}</time></li>
            % endif
            </ul>
        </div>
</article>

% else:

<div class="col-sm-4 mb-4">
    <div class="newCard">
        <div class="newCard__detailWrap">
            <div class="newCard__detail">
                <img src="${course.course_image_url}" onerror="this.src='/theming/asset/images/no_course_image.png';" alt="${course.display_name_with_default} ${course.display_number_with_default}" class="newCard__courseImg"/>
                <div class="newCard__courseName">${course.display_number_with_default}</div>
            </div>
            <div class="newCard__detail">
                <img src="${static.url('images/building-office.svg')}" class="shortIcon" alt="${_('officeBuilding')}"/>
                <div class="newCard__courseBody"><span class="newCard__courseOrg">${course.display_org_with_default} - </span> ${course.display_name_with_default}</div>
            </div>
            <div class="newCard__detail">
                <img src="${static.url('images/book-cloud.svg')}" class="shortIcon" alt="${_('book')}"/>
                % if course.advertised_start is not None:
                <div class="newCard__courseDate">${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></div>
                % else:
                <div class="newCard__courseDate">${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time></div>
                % endif
            </div>
        </div>
        <div class="newCard__actionBtn">
            <a href="${reverse('about_course', args=[str(course.id)])}" class="newCard__link">${_("More ")}
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

% endif

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
