## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>
<%namespace name='fx_static' file='fx_templates/fx_static_content.html'/>

<%
fx_footer = fx_static.get_fx_config_value('footer', default_value={})
declared_footer_sections = fx_footer.get('sections', [])
declared_social_media_links = fx_footer.get('social_media_links', [])
fx_copyrights_text = fx_static.t(fx_footer.get('copyrights_text', '')) or ''
%>

<!-- NEW IN INDIGO update footer -->

<div id="fx-footer" class="wrapper wrapper-footer p-0">
  <footer id="footer" class="tutor-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >

<div class="${'footer-top' if uses_bootstrap else 'footerWrap__content'}" style="padding: 30px">
    <span class="${'copyright-site' if uses_bootstrap else 'footerWrap__copyRight'}">${fx_copyrights_text}</span>
    <div class="powered-area" style="display: none">
      ## Please leave this link and use one of the logos provided
      ## The OpenEdX link may be hidden when this view is served
      ## through an API to partner sites (such as marketing sites or blogs),
      ## which are not technically powered by OpenEdX.
      % if not hide_openedx_link:
      <ul class="logo-list">
        <li>Powered by:</li>
        <li>
          <a href="https://docs.tutor.edly.io" rel="noopener" target="_blank">
            <img src="${static.url('images/tutor-logo.png')}" alt="Runs on Tutor" width="57" />
          </a>
        </li>
        <li>
          <a href="${footer['openedx_link']['url']}" rel="noopener" target="_blank">
            <img src="${static.url('images/openedx-logo.png')}" alt="${footer['openedx_link']['title']}" width="79" />
          </a>
        </li>
      </ul>
    </div>

    <%include file="fx_templates/fx_footer_links.html" args="declared_footer_sections=declared_footer_sections"/>
    <%include file="fx_templates/fx_footer_social_links.html" args="declared_social_media_links=declared_social_media_links"/>

  </div>
  % endif
    <div class="colophon">


      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']}
            % if icp_license_info.get('icp_license'):
              ${u" | {text}".format(text=icp_license_info.get('text'))}
              <a href="${icp_license_info.get('icp_license_link', '#')}">
                  ${u" {icp}".format(icp=icp_license_info.get('icp_license'))}
              </a>
            % endif
        </p>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
