<!-- Hero Section -->
<div id="hero-section">
  <div class="hero-container">
    <div class="hero-content">
      <!-- <div class="hero-logo"><img src="/static/indigo/images/logo.png" alt="Duy Tân University Logo" /></div> -->
      <h1 class="hero-title">
        Khởi đầu hành trình <br />
        Tri Thức cùng <span class="highlight">Universe</span>
      </h1>
      <p class="hero-subtitle">
        Nền tảng học tập trực tuyến toàn cầu về Văn hoá, Giáo dục, Công nghệ … do Đại học Duy Tân sáng lập.
      </p>
      <div class="hero-buttons">
        <a href="/courses" class="btn btn-primary">Tìm khóa học</a>
        <a href="/register" class="btn btn-secondary">Đăng Ký Miễn Phí</a>
      </div>
    </div>

    <div class="hero-visual">
      <div class="hero-image"><img src="/static/indigo/images/hero/girl.png" alt="Happy Student" /></div>
      <div class="hero-decoration text-overlay">
        <img src="/static/indigo/images/hero/online-school.png" alt="Online School" />
      </div>
      <div class="hero-decoration online-school">
        <img src="/static/indigo/images/hero/online-school.png" alt="Online School" />
      </div>
    </div>
  </div>
</div>
