.instructorWrapper {
  margin-top: 32px !important;
  box-shadow: 0px 1px 2px 0px #000;
  .enrollment-wrapper {
    caption {
      margin-bottom: 0 !important;
    }
  }
  .basic-wrapper,
  .enrollment-wrapper {
    margin-bottom: 15px !important;
  }
  .link-to-group-settings,
  .gradebook-link,
  .enrollment-status-link,
  .progress-link {
    color: #006daa !important;
    &:hover {
      color: $dark !important;
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    accent-color: $primary !important;
  }
  .cohort-management-settings {
    .form-submit {
      background-color: $primary !important;
      border-color: $primary !important;
      border-radius: 6px !important;
      box-shadow: inset 0 1px 0 0 $primary !important;
      background-image: linear-gradient($primary, $primary) !important;

      &:hover,
      &:focus {
        background-color: $primary-hover !important;
        border-color: $primary-hover !important;
        box-shadow: inset 0 1px 0 0 $primary-hover !important;
        background-image: linear-gradient(
          $primary-hover,
          $primary-hover
        ) !important;
      }
    }
    .form-cancel {
      color: #006daa !important;
      &:hover {
        color: $dark !important;
      }
    }
  }
  #add-allowance {
    background-color: $primary !important;
    border-color: $primary !important;
    border-radius: 6px !important;
    box-shadow: inset 0 1px 0 0 $primary !important;
    background-image: linear-gradient($primary, $primary) !important;

    &:hover,
    &:focus {
      background-color: $primary-hover !important;
      border-color: $primary-hover !important;
      box-shadow: inset 0 1px 0 0 $primary-hover !important;
      background-image: linear-gradient(
        $primary-hover,
        $primary-hover
      ) !important;
    }
  }

  .idash-section#membership {
    .member-lists-management {
      .wrapper-member-select {
        background: transparent !important;
      }
      .auth-list-container {
        .member-list-widget {
          input[type="button"].add {
            background-color: $primary !important;
            border-color: $primary !important;
            border-radius: 6px !important;
            box-shadow: inset 0 1px 0 0 $primary !important;
            background-image: linear-gradient($primary, $primary) !important;
            text-shadow: unset !important;
            &:hover,
            &:focus {
              background-color: $primary-hover !important;
              border-color: $primary-hover !important;
              box-shadow: inset 0 1px 0 0 $primary-hover !important;
              background-image: linear-gradient(
                $primary-hover,
                $primary-hover
              ) !important;
            }
          }
          .bottom-bar {
            box-shadow: unset !important;
            background-color: #f3f3f3 !important;
          }
        }
      }
    }
  }
  .idash-section#cohort_management {
    .cohort-management {
      .message {
        .action-create {
          background-color: $primary !important;
          border-color: $primary !important;
          border-radius: 6px !important;
          box-shadow: inset 0 1px 0 0 $primary !important;
          background-image: linear-gradient($primary, $primary) !important;
          text-shadow: unset !important;
          &:hover,
          &:focus {
            background-color: $primary-hover !important;
            border-color: $primary-hover !important;
            box-shadow: inset 0 1px 0 0 $primary-hover !important;
            background-image: linear-gradient(
              $primary-hover,
              $primary-hover
            ) !important;
          }
        }
      }
    }
  }

  .enrollment-button,
  input[type="button"],
  button.btn {
    background-color: $primary !important;
    border-color: $primary !important;
    border-radius: 6px !important;
    text-shadow: unset !important;
    background-image: linear-gradient($primary, $primary) !important;
    &:hover,
    &:focus {
      background-color: $primary-hover !important;
      border-color: $primary-hover !important;
      box-shadow: inset 0 1px 0 0 $primary-hover !important;
      background-image: linear-gradient(
        $primary-hover,
        $primary-hover
      ) !important;
    }
  }

  .instructor-dashboard-content-2 {
    #course_info {
      h4 {
        background: transparent !important;
      }
    }
    .basic-wrapper,
    .enrollment-wrapper,
    .course-errors-wrapper,
    .running-tasks-container {
      background: transparent !important;
    }
  }

  .wrap-instructor-info {
    .instructor-info-action {
      border-radius: 8px;
      background-color: $primary !important;
    }
  }
  .instructor-nav {
    display: flex;
    .nav-item {
      .btn-link {
        &.active-section {
          background-color: $primary !important;
        }
      }
    }
  }

  &__headerWrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .idash-section {
    * {
      text-align: start !important;
    }
    .tip {
      text-align: start !important;
    }
    input[type="checkbox"],
    input[type="radio"] {
      &:dir(rtl) {
        margin-right: unset !important;
        margin-left: 5px;
      }
    }
    input[type="button"].add {
      &:dir(rtl) {
        right: unset !important;
        left: 20px;
      }
    }
    .form-submit {
      &:dir(rtl) {
        margin-right: unset !important;
        margin-left: 10px;
      }
    }
    .copy-error {
      .fa {
        margin-right: unset !important;
        margin-left: 10px;
      }
    }
    .proctoring-wrapper {
      span.tip {
        .add {
          &:dir(rtl) {
            float: left !important;
          }
        }
      }
    }
  }
  #set-extension {
    p {
      line-height: 25px;
    }
    .reports-download-container {
      ul {
        li {
          line-height: 25px;
        }
      }
    }
  }
  .search-attempts {
    height: 38px;
    .icon {
      padding: 0 !important;
    }
  }
  .problem-browser {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      max-width: 800px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 754px) {
    #set-extension,
    #reset-extension,
    #view-granted-extensions {
      p {
        line-height: 25px;
        input {
          width: 100%;
          margin-top: 10px;
        }
        input[type="button"] {
          width: auto !important;
        }
      }
      input {
        margin-top: 10px;
        width: 100%;
      }
    }
    #student_admin input[type="text"] {
      width: 100% !important;
    }
    .wrapper-content.wrapper {
      .top-header {
        display: flex;
        flex-direction: column;
      }
      .search-attempts {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        .icon {
          padding: 0 !important;
        }
      }
      #search_attempt_id {
        width: 100%;
      }
      .pagination {
        display: flex;
        margin-top: 13px;
      }
    }
    .ui-accordion .ui-accordion-content {
      padding: 10px;
    }
    .problem-browser {
      flex-direction: column;
      display: block;
      input {
        margin: 10px 0 !important;
      }
    }
  }
}
