<%page args="page_contents"/>

<%namespace name='fx_static' file='../fx_static_content.html'/>

<%
id_tag = page_contents.get('div_id')
if id_tag:
    id_tag = f'id="{id_tag}"'

from crum import get_current_request
from futurex_openedx_extensions.helpers.tenants import get_all_tenants_info
from futurex_openedx_extensions.dashboard.statistics.live import get_live_statistics
fx_title = fx_static.t(page_contents.get('title'))
fx_description = fx_static.t(page_contents.get('description'))

declared_list_of_live_metrics = page_contents.get('options')
fx_list_of_live_metrics = []
allowed_statistics = {
    'courses': {
        'ar': 'مقررات',
        'en': 'Course',
        'fr': 'Cours',
    },
    'learners': {
        'ar': 'متعلّمون',
        'en': 'Learners',
        'fr': 'Apprenants',
    },
    'certificates': {
        'ar': 'شهادات',
        'en': 'Certificates',
        'fr': 'Certificats',
    },
    'enrollments': {
        'ar': 'تسجيل في المقررات',
        'en': 'Enrollments',
        'fr': 'Inscriptions',
    },
    'learning_hours': {
        'ar': 'ساعات تعلّم',
        'en': 'Learning Hours',
        'fr': 'Heures d’apprentissage',
    },
}

live_statistics = {}

for declared_live_metric in declared_list_of_live_metrics:
    allowed_check = allowed_statistics.get(declared_live_metric.get('key', '').lower())
    if allowed_check and declared_live_metric.get('is_checked'):
        declared_live_metric['key'] = declared_live_metric['key'].lower()
        declared_live_metric['api_key'] = declared_live_metric['key'] + '_count'
        title = fx_static.t(declared_live_metric['title'])
        if not title:
            title = fx_static.t(allowed_statistics[declared_live_metric['key']])
        declared_live_metric['title'] = title
        declared_live_metric['hint'] = fx_static.t(declared_live_metric.get('hint', {}))
        fx_list_of_live_metrics.append(declared_live_metric)

if fx_list_of_live_metrics:
    tenant_id = get_all_tenants_info()['tenant_by_site'].get(get_current_request().site.domain)
    live_statistics = get_live_statistics(tenant_id)

alignment = page_contents.get('alignment')
alignment = alignment if alignment in ['start', 'end'] else 'center'
%>

<div ${id_tag} class="platformMainWrap">
    % if fx_title or fx_description:
    <div class="middleHeading">
        % if fx_title:
        <h2 class="sectionWrapper__sectionHeading" style="text-align: ${alignment} !important;">
            ${fx_title | fx_static.br}
        </h2>
        % endif
        % if fx_description:
        <p class="sectionWrapper__description" style="text-align: ${alignment} !important;">
            ${fx_description | fx_static.br}
        </p>
        % endif
    </div>
    % endif
    % if fx_list_of_live_metrics:
    <div class="row platformMainWrap p-0" style="justify-content: ${alignment} !important;">
        % for live_metric in fx_list_of_live_metrics:
            <div class="col-sm-2">
                <div class="whyUsWrapper" style="text-align: ${alignment} !important;">
                    <h4 class="whyUsWrapper__heading" title="${live_metric['hint']}">${live_statistics[live_metric['api_key']]}</h4>
                    <p class="whyUsWrapper__desc">${live_metric['title'] | fx_static.br}</p>
                </div>
            </div>
        % endfor
    </div>
    % endif
</div>
