<%page args="page_contents"/>

<%namespace name='fx_static' file='../fx_static_content.html'/>

<%
id_tag = page_contents.get('div_id')
if id_tag:
    id_tag = f'id="{id_tag}"'

fx_title = fx_static.t(page_contents.get('title'))
declared_faq_items = page_contents.get('faq_items', [])

fx_faq_items = []
for faq_item in declared_faq_items:
    question = fx_static.t(faq_item.get('question'))
    answer = fx_static.t(faq_item.get('answer'))
    if not question or not answer:
        continue

    fx_faq_items.append({
        'question': question,
        'answer': answer,
        'item_id': fx_static.fx_random_string(),
    })

background_color = page_contents.get('background_color', 'transparent')
style = f"background-color: {background_color};"
%>

<div ${id_tag} class="platformMainWrap" style="${style}">
    <div class="middleHeading">
        <h2 class="sectionWrapper__sectionHeading text-center">
            ${fx_title | fx_static.br}
        </h2>
    </div>
    <div class="p-0">
        <div class="faqWrapper p-0">
            % for faq_item in fx_faq_items:
            <div class="accordion" id="faq-item-${faq_item['item_id']}">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faq-heading-${faq_item['item_id']}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-${faq_item['item_id']}" aria-expanded="true" aria-controls="collapse-${faq_item['item_id']}">
                            ${faq_item['question'] | fx_static.br}
                        </button>
                    </h2>
                    <div id="collapse-${faq_item['item_id']}" class="accordion-collapse collapse show" aria-labelledby="faq-heading-${faq_item['item_id']}"
                         data-bs-parent="#faq-item-${faq_item['item_id']}">
                        <div class="accordion-body">
                            ${faq_item['answer'] | fx_static.br}
                        </div>
                    </div>
                </div>
            </div>
            % endfor
        </div>
    </div>
</div>
