<%page args="page_contents"/>

<%namespace name='fx_static' file='../fx_static_content.html'/>

<%
id_tag = page_contents.get('div_id')
if id_tag:
    id_tag = f'id="{id_tag}"'

fx_title = fx_static.t(page_contents.get('title'))
fx_description = fx_static.t(page_contents.get('description'))
fx_grid_type = page_contents.get('grid_type', '')
if fx_grid_type not in ['max-3', 'max-6', 'max-9', 'all', 'categorised']:
    fx_grid_type = 'max-9'
%>


<div ${id_tag} class="platformMainWrap courseMainWrapper">
    <div class="middleHeading">
        <h2 class="sectionWrapper__sectionHeading text-center">
            ${fx_title | fx_static.br}
        </h2>
        <p class="sectionWrapper__description">
            ${fx_description | fx_static.br}
        </p>
    </div>
    <%include file="../../courses_list.html" args="fx_grid_type=fx_grid_type"/>

</div>
