<%page args="page_contents"/>

<%namespace name='fx_static' file='../fx_static_content.html'/>

<%
id_tag = page_contents.get('div_id')
if id_tag:
    id_tag = f'id="{id_tag}"'

fx_title = fx_static.t(page_contents.get('title'))
fx_description = fx_static.t(page_contents.get('description'))
image_url = page_contents.get('hero_image')
if image_url:
    style = f"background-image: url({image_url}); background-repeat: no-repeat;"
else:
    style = "background-color: black;"
%>

<div ${id_tag} class="mainBanner" style="${style}">

  <h1 class="mainBanner__heading">
    ${fx_title | fx_static.br}
  </h1>
  <p class="mainBanner__subTitle">
    ${fx_description | fx_static.br}
  </p>
</div>
