<%page args="page_contents"/>

<%namespace name='fx_static' file='../fx_static_content.html'/>

<%
id_tag = page_contents.get('div_id')
if id_tag:
    id_tag = f'id="{id_tag}"'

fx_title = fx_static.t(page_contents.get('title'))
fx_description = fx_static.t(page_contents.get('description'))
declared_columns_section = page_contents.get('columns_section', [])

columns_sections = []
for i in range(min(3, len(declared_columns_section))):
    columns_sections.append(declared_columns_section[i])

background_color = page_contents.get('background_color', 'transparent')
style = f"background-color: {background_color};"
%>

<div ${id_tag} class="platformMainWrap px-0" style="${style}">
    % if fx_title:
        <h2 class="sectionWrapper__sectionHeading">
        ${fx_title | fx_static.br}
        </h2>
    % endif
    % if fx_description:
        <p class="sectionWrapper__description">
            ${fx_description | fx_static.br}
        </p>
    % endif
    <div class="row px-0">
    % for columns_section in columns_sections:
        <div class="col-12 col-sm-6">
            <div class="platformProfile" style="text-align: ${columns_section.get('content_alignment', 'start') | fx_static.br}">
                <div style="display: flex; justify-content: ${columns_section.get('content_alignment', 'start') | fx_static.br};">
                    <i class="fa fa-${columns_section.get('icon') | fx_static.br} icon" aria-hidden="true"></i>
                </div>
                <h4 class="platformProfile__heading">${fx_static.t(columns_section.get('title')) | fx_static.br}</h4>
                <p class="platformProfile__desc">
                    ${fx_static.t(columns_section.get('description')) | fx_static.br}
                </p>
            </div>
        </div>
    % endfor
    </div>
</div>
