<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">Về OhStem Education</%block>
        </h1>
        <p>
            <%block name="pagecontent">OhStem Education mong muốn góp phần khơi nguồn đam mê sáng tạo của thế hệ trẻ Việt Nam, giúp các em có sự chuẩn bị tốt nhất cho tương lai trong kỷ nguyên số này.</%block>
        </p>
    </section>
</main>
