<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Điều khoản sử dụng")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">Điều khoản sử dụng của {{ PLATFORM_NAME }} có thể tham khảo <a href="https://ohstem.vn/chinh-sach-quy-dinh-chung/">ở đây</a>.</%block>
        </p>
    </section>
</main>