{% raw %}

{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load django_markup %}
{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
{% if route_enabled %}
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}This is a routed Account Activation email for {{ routed_user }} ({{ routed_user_email }}): {{ routed_profile_name }}{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
{% endif %}
    <tr>
        <td>
            <h1>
                {% trans "Xác thực tài khoản" as header_msg %}{{ header_msg | force_escape }}
            </h1>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}Bạn vừa sử dụng email này để đăng ký tài khoản trên {{ platform_name }}. Vui lòng click vào nút bên dưới để kích hoạt tài khoản và tham gia vào các khóa học STEM đầy thú vị. {% endblocktrans %}
                {% endfilter %}
                <br />
            </p>

            {% filter force_escape %}
                {% blocktrans asvar course_cta_text %}Xác thực tài khoản{% endblocktrans %}
            {% endfilter %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=confirm_activation_link %}
        </td>
    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}Lưu ý: Bạn sẽ không thể login vào tài khoản cho đến khi bạn hoàn tất xác thực.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
        <td>
        </td>
    <tr>

    </tr>
    <tr>
        <td>
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                    {% blocktrans %}Email này được tự động gửi đến bạn từ trang web {{ lms_url }} do địa chỉ email này vừa được dùng để đăng ký tài khoản trên {{ platform_name }}.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}

{% endraw %}