<%inherit file="../main.html" />
<%namespace name='fx_static' file='fx_static_content.html'/>


<%def name="fx_get_page_key()" buffered="True"><%
    import re
    from django.http import Http404

    match = re.match(r'^/p/(?P<page_name>[\w-]+)/?$', request.path)
    if not match:
        raise Http404()

    page_name = match.group('page_name')
    valid_custom_pages = fx_static.get_fx_config_value('custom_pages', default_value=[])

    page_key = None
    for page_info in valid_custom_pages:
        if not isinstance(page_info, dict):
            continue
        custom_page_key = page_info.get('key', '')
        custom_page_url_slug = page_info.get('url_slug', '')
        if not custom_page_key or not custom_page_url_slug:
            continue

        if page_name == custom_page_url_slug:
            page_key = custom_page_key
            break

    if not page_key:
        raise Http404()

    return page_key
%></%def>


<%
allowed_sections = fx_static.get_all_fx_section_names()
allowed_sections.remove('featured_courses_v1')
%>

<%def name="pagetitle()">
    ${fx_static._(fx_static.get_fx_config_value(fx_get_page_key(), default_value={}).get('title', {}))}
</%def>

<%include file="fx_page/page.html" args="page_name=fx_get_page_key(), allowed_sections=allowed_sections"/>
