<%namespace name='fx_static' file='fx_static_content.html'/>

<%
fx_dev_css_enabled = fx_static.get_fx_config_value('fx_dev_css_enabled', default_value=False)
%>

% if fx_dev_css_enabled:
<script>
const devCssCookie = document.cookie.split('; ').find(row => row.startsWith('fx-dev-css='));

if (devCssCookie) {
    const devCssValue = devCssCookie.split('=')[1];

    const linkElement = document.createElement('link');
    linkElement.rel = 'stylesheet';
    linkElement.type = 'text/css';
    linkElement.href = devCssValue;

    document.head.appendChild(linkElement);
}
</script>
% endif
