<%page args="declared_footer_sections"/>
<%namespace name='fx_static' file='fx_static_content.html'/>

<%
footer_sections = fx_static.get_fx_link_sections(declared_footer_sections)
%>

% if footer_sections:
<nav class="nav-colophon">
    <ol>
        % for f_section in footer_sections:
        <li>
            <a
                href="${f_section['link']}" ${f_section['new_tab']} style="color: var(--footer-text-color);"
            >
            ${fx_static.t(f_section.get('link_title'))}
            </a>
        </li>
        % endfor

    </ol>
</nav>
% endif
