<%namespace name='fx_static' file='fx_static_content.html'/>

<%
import re
visual_identity = fx_static.get_fx_config_value('visual_identity', default_value={})
project_settings = fx_static.get_fx_config_value('project_settings', default_value={})

footer_template = fx_static.get_fx_config_value('footer', default_value={}).get('footer_template')
if footer_template not in ['dark_footer', 'light_footer']:
    footer_template = 'light_footer'

fx_color_primary = '#4600c7'
fx_color_heading = '#6a32d1'

for color in visual_identity.get('colors', []):
    if color and color.get('hex') and re.match(r'^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$', color['hex']):
        if color.get('color_type') == 'primary_color':
            fx_color_primary = color['hex']
        elif color.get('color_type') == 'heading_color':
            fx_color_heading = color['hex']

meta_description = fx_static._(project_settings.get('meta_description'))
social_media_image = project_settings.get('social_media_image')
if social_media_image:
    social_media_links = fx_static.get_fx_social_media_links()
    if not social_media_links:
        social_media_image = ''
%>

<style>
@font-face {
  font-family: 'FutureXDefaultFont';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap') format('woff2');
  unicode-range:
    U+0000-00FF,
    U+0100-024F,
    U+0250-02AF,
    U+1E00-1EFF,
    U+2000-206F,
    U+2C60-2C7F,
    U+A720-A7FF;
}

@font-face {
  font-family: 'FutureXDefaultFont';
  src: url('IBMPlexArabic.woff2') format('woff2');
  unicode-range:
    U+0600-06FF,
    U+0750-077F,
    U+08A0-08FF,
    U+FB50-FDFF,
    U+FE70-FEFF,
    U+0660-0669;
}

:root {
    --fx-2025-indigo-alabaster-color: #fbfbfb;
    --fx-2025-indigo-black: #000;
    --fx-2025-indigo-blue-dianne: #072544;
    --fx-2025-indigo-border-color: #e5e7eb;
    --fx-2025-indigo-btn-primary: #3b85ff;
    --fx-2025-indigo-concrete-color: #f3f3f3;
    --fx-2025-indigo-cod-gray: #141414;
    --fx-2025-indigo-dark-color: #111928;
    --fx-2025-indigo-green-color: #00a487;
    --fx-2025-indigo-header-margin-top: 82px;
    --fx-2025-indigo-light-gray: #f7f7f7;
    --fx-2025-indigo-prussian-blue: #002f56;
    --fx-2025-indigo-purple-color: ${fx_color_primary};
    --fx-2025-indigo-purple-heart: ${fx_color_heading};
    --fx-2025-indigo-scorpion-color: #5e5e5e;
    --fx-2025-indigo-white-color: #fff;
}

html {
    --main-primary-color: var(--fx-2025-indigo-purple-color);
    --footer-bg: ${('#fbfbfb' if footer_template == 'light_footer' else '#000')};
    --footer-text-color: ${('#141414' if footer_template == 'light_footer' else '#fff')};
    --footer-icon-color: ${('#4600c7' if footer_template == 'light_footer' else '#fff')};;
    --green-button-bg: var(--fx-2025-indigo-purple-color);
    --hover-button-bg: var(--fx-2025-indigo-purple-heart);
}

</style>

% if meta_description:
<meta name="description" content="${meta_description}">
% endif

% if social_media_image:
    % for social_link in social_media_links:
        % if social_link.get('provider') in ['facebook', 'linkedin', 'instagram']:
            <meta property="og:image" content="${social_link.get('value')}">
        % elif social_link.get('provider') == 'twitter':
            <meta name="twitter:image" content="${social_link.get('value')}">
        % endif
    % endfor
% endif