<%page expression_filter="h"/>
<%!
from futurex_openedx_extensions.helpers.tenants import get_config_current_request
from django.utils.translation import get_language
%>

<%def name="br(text)" buffered="True"><%
    # Escape angle brackets for HTML except for <br> tags
    return text.replace('<', '&lt;').replace('>', '&gt;').replace('&lt;br&gt;', '<br>').replace('&lt;strong&gt;', '<strong>').replace('&lt;/strong&gt;', '</strong>')
%></%def>

<%def name="get_fx_config_value(key, default_value='')" buffered="True"><%
    config_value = get_config_current_request([key])
    result = config_value['values'].get(key, default_value)
    if result is None:
        result = default_value
    return result
%></%def>

<%def name="fx_supported_languages()" buffered="True"><%
    return {
        'ar': 'العربية',
        'en': 'English',
        'fr': 'Français',
    }
%></%def>

<%def name="_(config_dict_by_lang)" buffered="True"><%
    if not config_dict_by_lang or not isinstance(config_dict_by_lang, dict):
        return ''

    language_code = get_language()
    for lang_code in [language_code, 'en', 'ar', 'fr']:
        if lang_code in config_dict_by_lang:
            return config_dict_by_lang.get(lang_code)
    return ''
%></%def>

<%def name="get_all_fx_section_names()" buffered="True"><%
    return ['hero_v1', 'two_columns_v1', 'side_image_v1', 'featured_courses_v1', 'static_metrics_section_v1', 'live_metrics_section_v1']
%></%def>

<%def name="get_all_fx_page_names()" buffered="True"><%
    return {
        'home': '',
        'courses': 'courses',
        'about_us': 'about',
        'contact_us': 'contact',
        'blog': 'blog',
        'donate': 'donate',
        'terms': 'tos',
        'privacy': 'privacy',
        'help': 'help',
        'faq': 'faq',
        'jobs': 'jobs',
        'news': 'news',
        'press': 'press',
        'media_kit': 'media-kit',
    }
%></%def>

<%def name="get_fx_header_footer_sections(header_sections=True)" buffered="True"><%
    section_name = 'header_sections' if header_sections else 'footer_sections'
    declared_hf_sections = get_fx_config_value(section_name, default_value=[])
    valid_pages = get_all_fx_page_names()
    valid_custom_pages = get_fx_config_value('custom_pages', default_value={})
    hf_sections = []

    for f_section in declared_hf_sections:
        page = f_section.get('page', '')
        if page in valid_pages:
            page_type = 'page'
        elif page.startswith('http://') or page.startswith('https://') or page.startswith('mailto:'):
            page_type = 'url'
        elif page in valid_custom_pages:
            page_type = 'custom'
        else:
            page_type = 'invalid'

        if page_type == 'page':
            f_section['link'] = f'/{valid_pages[page]}'
        elif page_type == 'url':
            f_section['link'] = page
        elif page_type == 'custom':
            page_name = valid_custom_pages[page]
            if page_name:
                f_section['link'] = f'/p/{page_name}'
            else:
                page_type = 'invalid'

        if page_type != 'invalid':
            f_section['new_tab'] = 'target="_blank" rel="noopener"' if f_section.get('new_tab') else ''
            hf_sections.append(f_section)

    return hf_sections
%></%def>


<%def name="get_fx_social_media_links()" buffered="True"><%
    declared_social_media_links = get_fx_config_value('footer_social_media_links') or []
    social_media_links = []

    for f_link in declared_social_media_links:
        if f_link.get('value') and f_link.get('provider'):
            social_media_links.append(f_link)

    return social_media_links
%></%def>
