$primary: {{ INDIGO_PRIMARY_COLOR }};
$primary-light: #F5F5F2;

// Theme fonts
$font-family-title: 'IBM Plex Sans', 'Segoe UI', Arial, sans-serif;
$font-family-brand: 'CS Genio Mono', 'IBM Plex Sans', monospace;
$font-family-display: 'Dx Monstral', 'IBM Plex Sans', sans-serif;
$font-family-accent: 'Dozed', 'IBM Plex Sans', sans-serif;
$serif: 'IBM Plex Sans';
$f-sans-serif: 'IBM Plex Sans', 'Segoe UI', Arial, sans-serif;
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';


// Introducing new variables

$dark: #202222;
$light-dark: #515452;
$big-screen: 1200px;



// Introducing dark-theme variables

$primary-d: #F5F5F2;
$primary-light-d: #202222;
$gray-light: #D5D5D0;
$gray-lighter: #A3A3A0;
$light-dark-d: #D5D5D0;
$text-color-d: #F5F5F2;
$text-color-primary: #D5D5D0;
$border-color-d: #515452;
$light-overlay-d: #202222;
$danger-d: #FFA07A;
$success-d: #54CF5E;
$btn-color-d: #050505;
$body-bg-d: #0B0B0B;

$instructor-input-border-color: $gray-lighter;
$light-theme-switch-bg-color: $primary;
$dark-theme-switch-bg-color: #717D8A;

$warning-400: #ffe340;
$warning-700: #9c4607;
$warning-accent-700: #fffcf5;

$page-color-transition: transparent .2s ease, color .2s ease;
